{% extends "masterPage.twig" %}
 
{% block content %}
	<!-- Slide1 -->
	<section id="page" class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url(/assets/images/slide.jpg);">
					<div class="wrap-content-slide1 flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Makeup Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp" style="text-shadow: -1px -1px 0 #f4a2b0, 1px -1px 0 #efefef, -1px 1px 0 #efefef, 1px 1px 0 #efefef;">
							Nos meilleures ventes
						</h2>
						<!-- flèches vers le bas -->
						<div class="container2 t-center">
						    <svg id="more-arrows">
						      <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
						      <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
						      <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
						    </svg>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(/assets/images/slide1.jpg);">
					<div class="wrap-content-slide1 flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Makeup Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp" style="text-shadow: -1px -1px 0 #f4a2b0, 1px -1px 0 #efefef, -1px 1px 0 #efefef, 1px 1px 0 #efefef;">
							Des Lèvres parfaites
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
							<a href=/products class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Acheter
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(/assets/images/slide2.jpg);">
					<div class="wrap-content-slide1 flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Makeup Collection 2018
						</span>

						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp" style="text-shadow: -1px -1px 0 #f4a2b0, 1px -1px 0 #efefef, -1px 1px 0 #efefef, 1px 1px 0 #efefef;">
							Un teint scintillant
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
							<a href=/products class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Acheter
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Top Product -->
	<section  class="newproduct bgwhite p-t-45 p-b-25">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center"> Vos produits préférés	</h3></div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
				
					{% for p in products %}
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img  of-hidden pos-relative
										{% if p.sale > 0 %} block2-labelsale
										{% elseif p.newproduct >0 %} block2-labelnew
										{% endif %} " >
									<img src="/assets/images/products/{{p.type|lower}}/{{p.type|lower}}{{p.id}}.jpg" class="img-product" alt="IMG-PRODUCT">
									<div class="block2-overlay trans-0-4">
										<div class="block2-btn-addcart t-center w-size1">
											<button onclick="submitdata({{p.id}})" class="flex-c-m size25 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Ajouter au panier
											</button>
										</div>
									</div>
								</div>
								<div class="block2-txt p-t-20">
									<a href="/productdetail?id={{p.id}}" class="dis-block s-text3 p-b-5">
										{{p.name}} &mdash; <strong>{{p.brand}}</strong>
									</a>
									{% if p.sale > 0 %}
											<span class="m-text7 p-r-5">{{p.price|number_format(2, ',', ' ')}}&euro;</span>
											<span class="m-text8 p-r-5">{{p.saleprice|number_format(2, ',', ' ')}}&euro;</span>
									{% else %}
											<span class="m-text6 p-r-5">{{p.price|number_format(2, ',', ' ')}}&euro;</span>
									{% endif %}
								</div>
							</div>
						</div>
        			{% endfor %} 
						
				</div>
			</div>

		</div>
	</section>


<script>



function submitdata(val)
{
	var user = '{{ user|e("js")}}';
	 if(user)
	 {
	    $.ajax({
	    	type: 'POST',
	    	url: "/products",
	    	data: {id : val},
	    	success: function(result){
	  			document.getElementById("page").innerHTML +="<span class =\"addedtocart\" id =\"addedtocart\">Article bien ajouté au panier!</span>";
	 			document.getElementById("cart-icon").innerHTML = parseInt(document.getElementById("cart-icon").innerText)+1;
	    	}});
     }
 	 else
 	 {
 	 	document.getElementById("page").innerHTML +="<span class =\"addedtocart\" id =\"addedtocart\">Connectez-vous pour ajouter des articles à votre panier!</span>";
 	 }

	setTimeout(function() {
	  document.getElementById('addedtocart').remove();
	}, 3000);
		

}
</script>
{% endblock %}