{% extends "masterPage.twig" %}
 
{% block content %}
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/assets/images/baniere2.jpg);">
	<h2 class="l-text2 t-center" style="text-shadow: -1px -1px 0 #f4a2b0, 1px -1px 0 #efefef, -1px 1px 0 #efefef, 1px 1px 0 #efefef;">
		Mon compte
	</h2>
</section>

<div class="container p-t-55 p-b-65">
	<div class="row">
		
		<div class="col-md-3 m-b-55">
      <div class="list-group ">
        
        <a href="/account" class="list-group-item list-group-item-action">
        <img src="/assets/images/icons/account.svg" class="account-wrapicon1" alt="ICON">
        Aperçu du compte</a>
        
        <a href="/orders" class="list-group-item list-group-item-action">
        <img src="/assets/images/icons/orders.svg" class="account-wrapicon1 " alt="ICON">
        Mes commandes</a>
        
        <a href="/info" class="list-group-item list-group-item-action active">
        <img src="/assets/images/icons/infos.svg" class="account-wrapicon1 " alt="ICON">
        Mes informations</a>
        
        <a href="/password" class="list-group-item list-group-item-action">
        <img src="/assets/images/icons/password.svg" class="account-wrapicon1 " alt="ICON">
        Changer de mot de passe</a>
        
        <a href="/logout" class="list-group-item list-group-item-action">
        <img src="/assets/images/icons/logout.svg" class="account-wrapicon1 " alt="ICON">
        D&eacute;connexion</a>
      
      </div> 
		</div>
		
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            
		            <div class="row">
		                <div class="col-md-12"><h4>Mes informations</h4><hr></div>
		            </div>
		            
		            <div class="row">
		                <div class="col-md-12">
                
                    <form action='/info/modify' method="POST">
                      <p style="color:{{color}};font-style: oblique">{{message}} </p>
                
                      <div class="form-group row">
                        <label for="username" class="col-4 col-form-label">Nom d'utilisateur</label> 
                        <div class="col-8">
                          <input id="username" name="username" placeholder="Nom d'utilisateur" class="signup s-text13 size2 p-l-23 p-r-50" required pattern="[A-Za-z0-9]{4,15}$" type="text" value="{{user.username}}">
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label for="firstname" class="col-4 col-form-label">Prénom</label> 
                        <div class="col-8">
                          <input id="firstname" name="firstname" placeholder="Pr&eacute;nom" class="signup s-text13 size2 p-l-23 p-r-50" required pattern="[A-Za-z0-9]{4,15}$" type="text" value="{{user.firstname}}">
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label for="name" class="col-4 col-form-label">Nom de famille</label> 
                        <div class="col-8">
                          <input id="name" name="name" placeholder="Nom de famille" class="signup s-text13 size2 p-l-23 p-r-50"  required pattern="[A-Za-z0-9]{4,15}$" type="text" value="{{user.name}}">
                        </div>
                      </div>
                  
                      <div class="form-group row">
                        <label for="email" class="col-4 col-form-label">Addresse E-mail</label> 
                        <div class="col-8">
                          <input id="email" name="email" placeholder="Email" class="signup s-text13 size2 p-l-23 p-r-50" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" value="{{user.email}}">
                        </div>
                      </div>
                    
                      <div class="form-group row">
                        <label class="col-4 col-form-label">Date de naissance</label> 
                        <div class="col-8">
                          <select id ="days" name="day" class="custom-select m-t-8 m-b-8"></select>
                          <select id ="months" name="month" class="custom-select m-t-8 m-b-8"></select>
                          <select id ="years" name="year" class="custom-select m-t-8 m-b-8"></select>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <div class="offset-4 col-8">
                          <button name="submit" type="submit" class="btn btn-primary">Mettre à jour mon profil</button>
                        </div>
                      </div>
                    
                    </form>
		              </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(function()
{
  var month = '{{ user.birth|date("m")|e("js")}}';
  var day = '{{ user.birth|date("d")|e("js")}}';
  var year = '{{ user.birth|date("Y")|e("js")}}';
  
  $('#days').append('<option>Jour</option>');
  $('#months').append('<option>Mois</option>');
  $('#years').append('<option>Année</option>');
	
  //populate our years select box
  for (i = new Date().getFullYear()-10; i > 1940; i--)
    $('#years').append($('<option />').val(i).html(i));
  
  //populate our months select box
  for (i = 1; i < 13; i++)
    $('#months').append($('<option />').val(i).html(i));
  
  
  for(i=1; i < 31+1 ; i++)
    $('#days').append($('<option />').val(i).html(i));
  
  $('#years').val(parseInt(year));
  $('#months').val(parseInt(month));
  $('#days').val(parseInt(day));
});
</script>
{% endblock %}
