{% extends "masterPage.twig" %}
 
{% block content %}


<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/assets/images/baniere4.jpg);">
	<h2 class="l-text2 t-center" style="text-shadow: -1px -1px 0 #f4a2b0, 1px -1px 0 #efefef, -1px 1px 0 #efefef, 1px 1px 0 #efefef;">
		Inscription
	</h2>
</section>
<div class="container-sign p-t-55 p-b-65">
	<form class="form-horizontal" action='/signup/register' method="POST">
		
		<p style="color:red;font-style: oblique">{{message}} </p>
		<label class="control-label"  for="username">Nom d'utilisateur</label>
		<div class="controls">
			<input type="text" id="username" name="username" placeholder="" class="signup s-text7 size2 p-l-23 p-r-50" required pattern="[A-Za-z0-9]{4,15}$"
				value ="{{post.username}}">
			<p class="help-block">Le nom d'utilisateur peut contenir des lettres ou des chiffres</p>
		</div>
		
		
		<label class="control-label" for="email">Adresse E-mail</label>
		<div class="controls">
			<input type="email" id="email" name="email" placeholder="" class="signup s-text7 size2 p-l-23 p-r-50" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
			value ="{{post.email}}">
		</div>
		
		
		<label class="control-label" for="name">Nom</label>
		<div class="controls">
			<input type="text" id="name" name="name" placeholder="" class="signup s-text7 size2 p-l-23 p-r-50" required pattern="[A-Za-z0-9]{4,15}$"
			value="{{post.name}}">
		</div>
	
		<label class="control-label" for="firstname">Pr&eacute;nom</label>
		<div class="controls">
			<input type="text" id="firstname" name="firstname" placeholder="" class="signup s-text7 size2 p-l-23 p-r-50" required pattern="[A-Za-z0-9]{4,15}$"
			value ="{{post.firstname}}">
		</div>
       
       <label class="control-label">Date de naissance</label> 
        <div class="controls m-t-8 m-b-8">
          <select id ="days" name="day" class="custom-select"></select>
          <select id ="months"name="month" class="custom-select"></select>
          <select id ="years" name="year" class="custom-select"></select>
        </div>
	
		<label class="control-label" for="password">Mot de passe</label>
		<div class="controls">
			<input type="password" id="password" name="password" placeholder="" class="signup s-text7 size2 p-l-23 p-r-50" 
			required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
			<p class="help-block">Le mot de passe doit faire plus de 6 caractères, contenir au moins une majuscule et un chiffre</p>
		</div>
		
		<label class="control-label"  for="confirm_password">Confirmez votre mot de passe</label>
		<div class="controls">
			<input type="password" id="confirm_password" required name="confirm_password" placeholder="" class="s-text7 size2 p-l-23 p-r-50" onkeyup="checkPass(); return false;">
			<span id="confirmMessage" class="confirmMessage"></span>
		</div>

		<div class="control-label" style="text-align:center;" >
			<button type="submit">Créer mon compte</button>
		</div>
	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script >
function checkPass()
{
	var pass1 = document.getElementById('password');
	var pass2 = document.getElementById('confirm_password');
	var message = document.getElementById('confirmMessage');
	
	if(pass1.value == pass2.value)
	{
		message.innerHTML= "";
		pass2.style = "background: url(/assets/images/icons/check.png); background-size: 45px; background-repeat: no-repeat; background-position: 97% 50% ;"
	}
	else
	{
		message.style = "padding: 0 30px 0 50px; color: #999; max-height: 0; transition: 0.28s; overflow: hidden; color: red; font-style: italic;"
		message.innerHTML = "Les mots de passes ne sont pas identiques!"
	}
} 
</script>

<script>
$(function()
{
	$('#days').append('<option selected>Jour</option>');
	$('#months').append('<option selected>Mois</option>');
	$('#years').append('<option selected>Année</option>');
	
    //populate our years select box
    for (i = new Date().getFullYear()-10; i > 1940; i--)
    {
        $('#years').append($('<option />').val(i).html(i));
    }
    //populate our months select box
    for (i = 1; i < 13; i++){
        $('#months').append($('<option />').val(i).html(i));
    }
    
    for(i=1; i < 31+1 ; i++){
            $('#days').append($('<option />').val(i).html(i));
    }
});

</script> 


{% endblock %}
